.single_blog {
    width: 700px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    padding: 2rem;
}

.single_blog h1 {
    color: var(--darkTeal);
    padding: 1rem 0;
}

.single_blog small {
    color: #f7f7f7;
    padding: .5rem;
    line-height: 1.5;
    background-color:var(--peach);
    width: 100%;

}

.single_blog .description {
    padding-top: 2rem;
    font-size: 1.3rem;
    color: #333;
}

.blog_img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: auto;
    margin-top: 1rem;
}

@media (max-width:700px) {
    .single_blog {
        width: 100%;

        margin-top: 0;
        margin-bottom: 0;

        padding: 1rem;
    }

    .single_blog h1 {
        font-size: 1.4rem;
    }

    .single_blog p {
        font-size: 1.2rem;

    }

    .single_blog article {
        font-size: 1.2rem;
    }

}