.donate {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 400px;
    background-image: url('../../../../public/quote.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.donate_content {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    place-content: center;
    text-align: center;
    color: #f7f7f7;

}

.donate_content p {
    width: 50%;
    margin: 1.5rem;
    line-height: 1.4;
    color: #ccc;
    font-size: 1.2rem;

}

.donate_content .btn {
    background-color: var(--darkTeal);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-weight: bold;
    text-transform: uppercase;

}

@media (max-width:900px) {
    .donate_content p {
        width: 80%;


    }
}

@media (max-width:900px) {
    .donate_content p {
        width: 90%;


    }

    .donate {

        width: 100%;
        margin-top: 0;
        margin-bottom: 0;


    }
}